﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Labels</h1>



    <table class="table">
        <thead>
        <tr>
            <th>Label</th>
            <th>Status</th>
            <th>User</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.labels)
        {
            <tr>
                <td>
                    @item.label
                </td>
                <td>
                    @item.status
                </td>
                <td>
                    @item.user
                </td>
                <td>
                    <form asp-page-handler="create" method="post">
                        <button>Create Package</button>
                        <input type="hidden" name="label" value=@item.label />
                        <input type="hidden" name="user" value=@item.user />
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <h1 class="display-4">Packages</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Label</th>
            <th>Status</th>
            <th>User</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.packages)
        {
            <tr>
                <td>
                    @item.label
                </td>
                <td>
                    @item.status
                </td>
                <td>
                    @item.user
                </td>
                <td>
                    <form asp-page-handler= "changeStatus" method="post">
                        <fieldset>Zmień status 
                            <select  id="newStatus" name="newstaus">
                                <option value="w drodze">w drodze</option>
                                <option value="dostarczona">dostarczona</option>
                                <option value="odebrana">odebrana</option>
                            </select>
                            <button><input type="submit" value="Submit"  /> </button>
                            <input type="hidden" name="label" value=@item.label />
                            <input type="hidden" name="user" value=@item.user />
                        </fieldset>
                    </form>



                </td>
            </tr>
        }
        </tbody>
    </table>

</div>
